<div
  class="mt-20 flex items-center justify-center w-full h-full overflow-hidden"
>
  <form
    class="fade-in flex flex-col gap-6 w-[40%] backdrop-blur p-10 rounded-xl border-2 border-zinc-300/30"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <h1 class="text-2xl text-white text-center font-semibold mb-4">
      Sign in your account
    </h1>
    <input
      type="text"
      placeholder="Login"
      class="input"
      formControlName="login"
    />
    <input
      type="password"
      class="input"
      placeholder="Password"
      formControlName="password"
    />
    <button type="submit" class="w-1/2 mt-2 mx-auto text-xl" size="lg" hlmBtn>
      Sign in
    </button>
    <h2
      class="text-white text-lg font-semibold flex items-center justify-center gap-2"
    >
      <span>Not a member?</span>
      <a routerLink="/signup" class="text-amber-500 underline">Sign up</a>
    </h2>
  </form>
</div>
