<div class="w-[1024px] px-2 mx-auto">
  <div class="flex items-stretch gap-8 fade-in">
    <div class="flex flex-col gap-4 w-2/3 py-[8rem]">
      <h2 class="text-3xl text-white">
        <span class="text-orange-400 font-semibold">ArmPlanner</span> помогает
        спланировать день, неделю - даже месяц!
      </h2>
      <h4 class="text-zinc-200">
        Не бойтесь, что забудете про важные дела - просто распланируйте время в
        удобном и эффективном формате!
      </h4>
    </div>
    <div class="relative w-full h-full py-[8rem]">
      <img class="absolute top-[15%] w-1/2" src="assets/home/2.png" alt="" />
      <img
        class="absolute top-[35%] left-[30%] w-1/2 rounded-[4px] border-t border-black"
        src="assets/home/1.png"
        alt=""
      />
    </div>
  </div>
  <div
    class="mt-10 flex items-start gap-5 justify-around py-6 px-3 rounded-xl backdrop-blur"
  >
    <div class="flex flex-col items-center gap-3">
      <img class="h-[60px]" src="assets/home/room.svg" alt="room" />
      <h3 class="text-white text-lg font-semibold">Комнаты</h3>
      <p class="text-zinc-300 text-center">
        Благодаря комнатам целые команды людей могут вместе выстраивать рабочий
        процесс.
      </p>
    </div>
    <div class="flex flex-col items-center gap-3">
      <img class="h-[60px]" src="/assets/home/task.svg" alt="task" />
      <h3 class="text-white text-lg font-semibold">Контроль над записями</h3>
      <p class="text-zinc-300 text-center">
        Возможность менять положение задач и переносить их в другие записи
        оптимизирует планировку!
      </p>
    </div>
    <div class="flex flex-col items-center gap-3">
      <img class="h-[60px]" src="/assets/home/not.svg" alt="not" />
      <h3 class="text-white text-lg font-semibold">Уведомления</h3>
      <p class="text-zinc-300 text-center">
        Уведомления обеспечивают постоянное взаимодействие между пользователями.
      </p>
    </div>
  </div>
</div>
