<div class="w-[1024px] px-2 mx-auto overflow-hidden">
  <div class="flex items-stretch justify-center gap-10 fade-in">
    <div class="flex flex-col gap-4 w-2/5 mt-[5rem] mb-[3rem]">
      <h2 class="text-3xl text-white">
        <span class="text-violet-400 font-semibold">AngularTodo</span> helps you
        plan your day, week, and even month!
      </h2>
      <h4 class="text-zinc-200">
        Don't worry about forgetting important tasks - just schedule your time
        in a convenient and efficient format!
      </h4>
    </div>
    <div class="relative w-2/5 h-full py-[5rem]">
      <img class="absolute top-[25%] w-full" src="assets/home/todo.png" alt="" />
    </div>
  </div>
  <div
    class="fade-in mt-10 flex items-start gap-5 justify-around p-6 rounded-xl backdrop-blur border-[3px] border-violet-100/60 transition-all hover:border-violet-500"
  >
    <div class="flex flex-col items-center gap-3">
      <img class="h-[60px]" src="assets/home/room.svg" alt="room" />
      <h2 class="text-white text-lg font-semibold">Rooms</h2>
      <p class="text-zinc-300 text-center">
        Thanks to rooms, entire teams of people can work together to build a
        workflow.
      </p>
    </div>
    <div class="flex flex-col items-center gap-3">
      <img class="h-[60px]" src="/assets/home/task.svg" alt="task" />
      <h2 class="text-white text-lg font-semibold">Control over records</h2>
      <p class="text-zinc-300 text-center">
        The ability to change the position of tasks and move them to other
        records optimizes the layout!
      </p>
    </div>
    <div class="flex flex-col items-center gap-3">
      <img class="h-[60px]" src="/assets/home/not.svg" alt="not" />
      <h2 class="text-white text-lg font-semibold">Notifications</h2>
      <p class="text-zinc-300 text-center">
        Notifications ensure continuous interaction between users.
      </p>
    </div>
  </div>
</div>
